<section class="dog-item" data-target="{{index}}">
    <img src="/static/img/{{dog.picture}}">
    <h3>{{ dog.dog_name }}</h3>
</section>

<section class="dog-modal" id="dog-modal-{{index}}">
    <main>
        <h1>{{dog.dog_name}}</h1>
        <img class="dog-pic" src="/static/img/{{dog.picture}}">
        <ul>
            <li><span class="info-type">Baasje(s)</span> <span class="info">{{dog.owner_name }}</span></li>
            <li><span class="info-type">Merk</span> <span class="info">{{ dog.dog_type }}</span></li>
            <li>
                <span class="info-type">Bijzonderheden</span>
                <span class="info">
                    {% for info in dog.extra %}
                    - {{info}}<br />
                    {% endfor %}
                </span>
            </li>
        </ul>
        <aside>
            {% for day in dog.times %}
            <section>
                <h4>{{ day.day_name }}</h4> <span class="field-times">{{day.times_str}}</span>
            </section>
            {% endfor %}
        </aside>
        <button class="close-modal" data-target="{{index}}">Terug</button>
    </main>
</section>
<script src="/static/js/modal.js"></script>