@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Slab&display=swap");
body {
  margin: auto;
  max-width: 600px;
}

body {
  font-family: "Roboto Slab", serif;
  color: #363940;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  color: #363940;
}

.dog-modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  max-width: 600px;
}
.dog-modal main {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: grid;
  grid-template-areas: "name" "pic" "props" "extra" "times" "back";
}
.dog-modal main h1 {
  grid-area: name;
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
.dog-modal main img {
  grid-area: pic;
  margin: auto;
  max-height: 300px;
  max-width: 300px;
}
.dog-modal main h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.dog-modal main ul {
  grid-area: props;
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 0.7em;
}
.dog-modal main ul li {
  display: grid;
  grid-template-columns: 30% 70%;
}
.dog-modal main ul li .info-type {
  text-align: left;
}
.dog-modal main ul li .info {
  text-align: right;
}
.dog-modal main .dog-extra {
  grid-area: extra;
  font-size: 0.7em;
  padding-bottom: 1em;
}
.dog-modal main .dog-extra .info-block {
  display: block;
  text-align: center;
}
.dog-modal main aside {
  grid-area: times;
  padding-bottom: 1em;
}
.dog-modal main aside section {
  display: grid;
  grid-template-areas: "day time";
  grid-template-columns: 30% 70%;
  font-size: 0.7em;
}
.dog-modal main aside section h4 {
  grid-area: day;
}
.dog-modal main aside section span {
  grid-area: time;
  font-family: "Roboto Slab", serif;
  text-align: right;
}
.dog-modal main button {
  grid-area: back;
  border: 1px solid black;
  border-radius: 3px;
  font-family: "Roboto Slab", serif;
  background-color: white;
  font-size: 3em;
  cursor: pointer;
}

.dog-item {
  border: 1px solid black;
  border-radius: 3px;
  display: grid;
  grid-template-areas: "dogpic ." "dogpic dogname" "dogpic .";
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 30% 70%;
  height: 100px;
  width: 300px;
  margin: auto;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.dog-item img {
  grid-area: dogpic;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.dog-item h3 {
  grid-area: dogname;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

#dog-list h2 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 0.5em;
}

#status-table table {
  width: 95%;
  margin: auto;
}
#status-table table .time-cell {
  width: 20%;
  text-align: left;
}
#status-table table .dogs-cell {
  width: 60%;
  text-align: center;
}
#status-table table .dogs-cell ul {
  text-align: center;
  list-style: none;
  font-size: 0.7em;
  padding: 0;
}
#status-table table .weather-cell {
  width: 20%;
  text-align: right;
}
#status-table table .weather-cell ul {
  list-style: none;
  font-size: 0.7em;
  padding: 0;
}

nav ol li {
  display: inline;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
}
nav ol li a {
  text-decoration: none;
  color: black;
}
nav ol li:hover {
  color: white;
  background-color: #363940;
}
nav ol li:hover a {
  color: white;
}

nav > ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
