<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Het Veldje</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
</head>

<body>
    <nav>
        <ol>
            <li>
                <a href="/honden">
                    <span class="iconify-inline" data-icon="carbon:dog-walker"></span>
                    <span class="nav-text">Honden</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="iconify-inline" data-icon="el:guidedog"></span>
                    <span class="nav-text">Veldje</span>
                </a>
            </li>
            <li>
                <a href="/faq">
                    <span class="iconify-inline" data-icon="wpf:faq"></span>
                    <span class="nav-text">FAQ</span>
                </a>

            </li>
        </ol>
    </nav>
    <main>
        {% block main_content %}
        {% endblock %}
    </main>

</body>

</html>