{% extends 'base.html' %}
{% block main_content %}
<section id="register">
    <p>
        Ook je hond op deze site zichtbaar maken? Meld je hond aan en dan kunnen we zien wanneer
        we naar het veldje moeten om jouw hond te zien. Klik op de knop en vul het formulier naar instructies in.
    </p>
    <form action="{{ctx.register_link}}">
        <input type="submit" value="Hond Aanmelden" />
    </form>
</section>
<section id="status-table">
    <h3>Veldstatistieken</h3>
    <table>
        <thead>
            <tr>
                <th class="time-cell">Tijd</th>
                <th class="dogs-cell">Honden</th>
                <th class="weather-cell">Weer</th>
            </tr>
        </thead>
        <tbody>
            {% for h_data in ctx.hour_stats %}
            <tr>
                <td class="time-cell">{{h_data.hour_str}}</td>
                <td class="dogs-cell">
                    <ul>
                        {% if h_data.present_dogs %}
                        {% for dog, owner in h_data.present_dogs %}
                        <li>{{ dog }} en {{ owner }}</li>
                        {% endfor %}
                        {% else %}
                        <li>Geen honden aanwezig</li>
                        {% endif %}
                    </ul>
                </td>
                <td class="weather-cell">
                    <ul>
                        <li>{{h_data.temp_c}} <span class="iconify-inline"
                                data-icon="tabler:temperature-celsius"></span></li>
                        <li>{{h_data.precip_mm}}mm <span class="iconify-inline"
                                data-icon="fluent:weather-rain-24-regular"></span></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}